

<h2 style="text-align: center;">Salaries</h2>

<div class="badge-display">
  <h3><span class="badge badge-color-1" >Total hours :- <%= salDets.tot_wrk_hrs %> </span></h3>
  <h3><span class="badge badge-color-1" >Total Over time hours :- <%= salDets.tot_ovr_time_hrs%> </span></h3>
  <h3><span class="badge badge-color-1" >Total Salaries :- <%= (salDets.tot_salary).toLocaleString('en-US', {style: 'currency',currency: 'USD',})%> </span></h3>
 
</div>

<form action="/salaries" method="post" id="searchSalary" style="padding:0px 10px;">
  <div><legend>Search for Paycycle</legend></div>
  <div class="formControl  mb-3" style="display: flex; width: 100%; gap: 1rem;">
    <select name="cycle" id="cycle" class="form-control" style="width: 50% ;">
        <% cycles.forEach(cycle => { %>
          <option value="<%=cycle.id%>">FROM <%= cycle.cycle_strt.toLocaleDateString() %> --TO-- <%= cycle.cycle_end.toLocaleDateString() %></option>
          <% }) %>
    </select>
    
      <button type="submit">Search</button>
    
    
  </div>
</form>

<table class="table table-hover" style="margin-top: 30px;">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Overate Rate</th>
      <th>Total Work Hours</th>
      <th>Overtime Hours</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Salary</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <% if (data.length){%> 

   
        <% data.forEach(emp => { %>
          
            <tr>
              <td> <%=emp.emp_id%> </td>
              <td> <%=emp.f_name%> </td>
              <td> <%=emp.l_name%> </td>
              <td> <%=emp.department%> </td>
              <td> <%=emp.ovrtime_rate%> </td>
              <td> <%=emp.hours%> </td>
              <td> <%=emp.ovrtime_hrs%> </td>
   
              <% if (emp.cycle_strt != null) {%> 
               <td> <%=emp.cycle_strt.toLocaleString('sv-SE')%> </td>
                <%}else{%> 
                  <td> <%=emp.cycle_strt%> </td>
               <%}%> 
   
   
               <%  if (emp.cycle_end != null) {%> 
                 <td> <%=emp.cycle_end.toLocaleString('sv-SE')%> </td>
                  <%}else{%> 
                    <td> <%=emp.cycle_end%> </td> 
                 <%}%> 
   
              <td> <%=(emp.salary).toLocaleString('en-US', {style: 'currency',currency: 'USD',})%> </td>
              <td> <%=emp.state%> </td>
              <td> <a href="/salaries/sal-info/edit/<%=emp.id%> "> Edit Salary Details </a> </td>
             </tr>
        <% }) %>
     
      <% }else{ %> 
        <tr><td colspan="7" style="text-align: center;">No Employee Records entered</td></tr>
      <% } %> 
  </tbody>
</table>

<script>
  $(document).ready(function(){
      $("form#searchSalary").on('submit', function(e){
      var fields = {cycle: $('select[name=cycle]').val(), 
                 };
      $.ajax({
          type: 'post',
          url: '/salaries',
          data: fields,
          dataType: 'json',
          success: function(){
             console.log(JSON.stringify(this.fields))
          }
      })


      
  });
});
</script>