<h2>Salaries</h2>

<table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Overate Rate</th>
      <th>Total Work Hours</th>
      <th>Overtime Hours</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Salary</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <% if (data.length){%> 

        <% data.forEach(emp => { %>
          <tr>
           <td> <%=emp.emp_id%> </td>
           <td> <%=emp.f_name%> </td>
           <td> <%=emp.l_name%> </td>
           <td> <%=emp.department%> </td>
           <td> <%=emp.ovrtime_rate%> </td>
           <td> <%=emp.hours%> </td>
           <td> <%=emp.ovrtime_hrs%> </td>
           <td> <%=emp.start_dt.toLocaleString('sv-SE')%> </td>
           <td> <%=emp.end_dt.toLocaleString('sv-SE')%> </td>
           <td> <%=(emp.salary).toLocaleString('en-US', {style: 'currency',currency: 'USD',})%> </td>
           <td> <%=emp.state%> </td>
           <td> <a href="/salaries/sal-info/edit/<%=emp.id%> "> Edit Salary Details </a> </td>
          </tr>
        <% }) %>
          <%= data.workHrs  %> 
      <% }else{ %> 
        <tr><td colspan="7" style="text-align: center;">No Employee Records entered</td></tr>
      <% } %> 
  </tbody>
</table>