  <br>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>

    <%= JSON.stringify(my_session) %> 

    <div class="message">
      <% if (messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
    <% } %>
    
    <% if (messages.success) { %>
         <p style="color:green"><%- messages.success %></p>
    <% } %>
    </div>
  
